<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout :: common_header('投稿一覧', ~{::scripts})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} 共通のscript {% endcomment %}
    <th:block th:fragment="scripts">
        {% comment %} 個別のスクリプトscriptを追加する場合には {% endcomment %}
    </th:block>

</head>
<body>
    <header th:replace="~{layout :: common_navbar}"></header>

    <div th:if="${successMessage}">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>

    <table class="">
        <thead>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${posts}" class="align-middle">
                <th width="50" th:text="${post.id}"></th>
                <th width="50" th:text="${post.title}"></th>
                <th width="50" th:text="${post.image}"></th>
                <th width="50">
                    <img width="70" th:src="${post.image}">
                </th>
                <th width="50" th:text="${post.user != null ? post.user.username : 'ユーザーなし'}"></th>
                <th>
                    <a th:href="@{/post/delete/{id}(id=${post.id})}" onclick="return confirm('本当に削除しますか？');" class="bg-rose-500 text-white rounded-md">削除</a>
                </th>
            </tr>
        </tbody>
    </table>   
    <footer th:replace="~{layout :: common_footer}"></footer>    
</body>
</html>